\#*
*~
*.elc
*.pyc
/*.zip
*.db
*.~undo-tree~
.cache/
!.cache/bookmarks
.undo-tree-history
private-data.el
scratch.el
working.el
notes.el
README.md
srecode-map.el

*-README.html
snippets/README.html
local/evil-visual-replace
local/README.html
local/testpkg.el
local/troyp-test.el
repos/
layers/*/README.html


