\#*
*~
*.elc
*.pyc
/*.zip
*.db
*.~undo-tree~
.cache/
!.cache/bookmarks
.undo-tree-history
customize.el
.customize.el
private-data.el
scratch.el
working.el
notes.el
README.md
srecode-map.el

*-README.html
snippets/README.html
local/evil-visual-replace
local/README.html
troyp/local/testpkg
troyp/local/troyp-test
repos/
layers/*/README.html


