\#*
*~
*.elc
*.pyc
/*.zip
*.db
*.~undo-tree~
.cache/
!.cache/bookmarks
.undo-tree-history
private-data.el
scratch.el

*-README.html
snippets/README.html
local/README.html
local/evil-visual-replace
repos/

